<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">

            <PatternLayout
                    pattern="%highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} - %style{%date{DEFAULT}}{yellow} -  %message%n"/>

        </Console>

        <File name="circleAppender"
              fileName="src\main\java\log\Circle.log">
            <PatternLayout>
                <pattern>[%d{ISO8601}][%p][%t][%C][%M][%L][%m]%n</pattern>
            </PatternLayout>

        </File>
        <File name="pentagonAppender"
              fileName="src\main\java\log\Pentagon.log">
            <PatternLayout>
                <Pattern>[%d{ISO8601}][%p][%t][%C][%M][%L][%m]%n</Pattern>
            </PatternLayout>
        </File>
        <File name="rectangleAppender"
              fileName="src\main\java\log\Rectangle.log">
            <PatternLayout>
                <Pattern>[%d{ISO8601}][%p][%t][%C][%M][%L][%m]%n</Pattern>
            </PatternLayout>
        </File>


    </Appenders>
    <Loggers>
        <Root level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Root>


        <Logger name="com.ebricks.Circle" level="info" additivity="false">

            <AppenderRef ref="circleAppender"/>
        </Logger>
        <Logger name="com.ebricks.Rectangle" level="info" additivity="false">

            <AppenderRef ref="pentagonAppender"/>
        </Logger>
        <Logger name="com.ebricks.Pentagon" level="info" additivity="false">

            <AppenderRef ref="rectangleAppender"/>
        </Logger>
    </Loggers>
</Configuration>

