<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">

            <PatternLayout
                    pattern="%highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} - %style{%date{DEFAULT}}{yellow} -  %message%n"/>

        </Console>
    </Appenders>
    <Loggers>
        <Root level="warn" additivity="false">
            <AppenderRef ref="console"/>
        </Root>

        <Logger name="Circle" level="info">

            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>

